{{>header}}

<h1>{{title}}</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Title</th>
        {{#operations.length}}
            <th scope="col">Delete</th>
        {{/operations.length}}
    </tr>
    </thead>
    <tbody>
    {{#articles}}
        <tr>
            <td>
                <a href="/articles/{{id}}">{{title}}</a>
            </td>
            {{#operations}}
                <td>
                    <a href="{{href}}/{{id}}">{{name}}</a>
                </td>
            {{/operations}}
        </tr>
    {{/articles}}
    </tbody>
</table>

{{>footer}}