{{>header}}

<form method="post">
    <h3>{{title}}</h3>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" id="title">
    </div>
    <div class="form-group">
        <label for="content">Password</label>
        <textarea name="content" class="form-control" id="content"></textarea>
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{{>footer}}