{{>header}}

<h1>
    Welcome {{#isLogged}}{{login}}{{/isLogged}}
</h1>

{{^isLogged}}
    <form method="get" action="{{actionUrl}}">
        <input type="hidden" name="returnUrl" value="{{returnUrl}}">
        <input type="hidden" name="client" value="{{client}}">
        <button type="submit" class="btn btn-dark">Login with Azaas</button>
    </form>
{{/isLogged}}

{{>footer}}